<html layout:decorate="~{/auth/layout}">
<body>
<div layout:fragment="content">
  <div class="card shadow-lg p-4 p-md-5">
    <div class="text-center mb-4">
      <div class="logo-container">
        <i class="bi bi-shield-lock-fill"></i>
      </div>
      <h3 class="fw-bold text-dark m-0">Restart password</h3>
    </div>

    <form
      th:action="@{/auth/new-password}"
      th:object="${newPassword}"
      method="POST">
      
      <div class="mb-3">
        <label for="password" class="form-label text-secondary fw-semibold small">
          New Password
        </label>
        <div class="input-group">
          <input
            th:field="*{password}"
            type="password"
            class="form-control" placeholder="*****" required>
            <span
              class="input-group-text bg-white border-start-0"
              onclick="showPassword('password', 'showPasswordIcon')">
              <i class="bi bi-eye-slash" id="showPasswordIcon"></i>
            </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="passwordConfirmation" class="form-label text-secondary fw-semibold small">
          Password Confirmation
        </label>
        <div class="input-group">
          <input
            th:field="*{passwordConfirmation}"
            type="password"
            class="form-control" placeholder="*****" required>
          <span
            class="input-group-text bg-white border-start-0"
            onclick="showPassword('passwordConfirmation', 'showPasswordConfirmationIcon')">
            <i class="bi bi-eye-slash" id="showPasswordConfirmationIcon"></i>
          </span>
        </div>
      </div>
      <input type="hidden" name="token" th:value="${token}">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>

    </form>
  </div>
  <script th:src="@{/js/auth/auth.js}"></script>
</div>
</body>
</html>
