<html layout:decorate="~{auth/layout}">
<body>
  <div layout:fragment="content">
    <div class="card shadow-lg p-4 p-md-5">
      <div class="text-center mb-4">
        <div class="logo-container">
          <i class="bi bi-shield-lock-fill"></i>
        </div>
        <h3 class="fw-bold text-dark m-0">
            Your has created a new account. Please activated it.
        </h3>
        <a th:href="@{/auth/login}"
            class="text-primary-custom small">
            Log in
        </a>
      </div>
    </div>
  </div>
</body>
</html>