<html layout:decorate="~{layouts/main}">
    <head>
      <style>
        .data-container {
            background: #fff;
            border-radius: 1rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
            padding: 2rem;
        }
      </style>
    </head>
    <body>
        <div layout:fragment="content">
        <!-- START -->

          <!-- Link to back -->
          <a
            class="text-decoration-none text-muted">
            <i class="bi bi-arrow-left me-1"></i> Back to users
          </a>

          <!-- Data -->
          <div class="panel mt-3 mb-4">
            <div class="d-flex flex-wrap justify-content-between align-items-start gap-3">
              <div>
                <h1 class="h3 fw-bold mb-1" th:text="${user.username}">
                </h1>
                <!-- <p class="text-muted mb-2" th:text="${product.description}"> -->
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="data-container">
              <p>lorem</p>
            </div>
          </div>
        <!-- END -->
        </div>
    </body>
</html>
